[Desktop Entry]
Encoding=UTF-8
Name=Ditcoin (testnet)
Comment=Core wallet for Ditcoin P2P Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung Ditcoin (testnet)
Exec=/usr/bin/ditcoin-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/ditcoin-testnet128.png
MimeType=x-scheme-handler/ditcoin;
Categories=Application;Network;
